@charset "UTF-8";

#mainsection{
	font-size: 1.2rem;
}

.success-message {
	color: #2ecc71;
	font-size: 1em;
	font-weight: bold;
}

.form-row {
	display: flex;
	align-items: center;
	margin-top: 15px;
	justify-content: space-around;
}

.form-row label {
	width: 230px;
	text-align: left;
	font-weight: bold;
	color: #333;
	align-items: center;
}

.form {
	flex: 0.7;
}

input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	transition: border-color 0.3s ease;
}

input:focus {
	border-color: #3498db;
	outline: none;
}

.error-message {
	color: #e74c3c;
	font-size: 0.9em;
	margin-top: 4px;
	text-align: left;
}

.change-button {
	width: 180px;
	padding: 12px;
	margin-top: 30px;
	background-color: #ff964b;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.change-button:hover {
	background-color: #f0733a;
}

.back-mypage {
	margin-top: 20px;
}

.back:hover {
	text-decoration: underline;
}