@charset "UTF-8";

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

nav a:hover{
	text-decoration: underline;
}

.footer{
	color: #f0f8ff;
	background-color: rgba(33, 33, 33, 0.9);
	padding: 30px 0 30px 0;
}

.footer-inner{
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 0 30px 20px 30px;
}

.footer-left{
	width: 20%;
}

.question{
	display: inline-block;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px 0;
	width: 100%;
	cursor: pointer;
}

.question:hover{
	/*background-color:rgba(255, 255, 255, 0.8);*/ 
	transform: scale(1.05);
}

.question a{
	display: block;
	width: 100%;
}

.footer-links ul{
	display: flex;
}

.footer-links li{
	margin-right: 30px;
}

.footer-links li:last-child{
	margin-right: 0;
}

.footer-right{
	padding: 10px 0;
}

.footer-right a{
	color: #f0f8ff;
}

.sns{
	margin-bottom: 20px;
}

.sns ul{
	display: flex;
	justify-content: center;
}

.sns li{
	margin-right: 30px;
}

.sns li:last-child{
	margin-right: 0;
}

.sns img{
	width: 30px;
}

.copyright{
	text-align: center;
	font-size: 0.8rem;
}