@charset "UTF-8";

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

nav a:hover{
	text-decoration: underline;
}

.header{
	margin-bottom: 30px;
	background-color: #FFF8DC;
	border-bottom: 0.1rem solid rgb(18 18 18 / 20%);
}

.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
	padding-top: 5px;
}

.header-left{
	display: flex;
	align-items: center;
}

.logo img{
	width: 80px;
}

.site-name{
	margin-left: 10px;
	text-align: center;
}

.site-name p{
	margin: 0;
	text-align: center;
	font-size: 2rem;
}

.header-links ul{
	display: flex;
	align-items: center;
}

.header-links li{
	margin-right: 30px;
}

.header-links li:last-child{
	margin-right: 0;
}