@charset "UTF-8";

#maincontent{
	margin-bottom: 100px;
}

#mainsection{
	display: flex;
	max-width: 1440px;
}

.item-img{
	width: 500px;
}

.item-img img{
	width: 100%;
}

.item-right{
	margin-left: 100px;
	text-align: left;
	font-size: 1.2rem;
}

.item-name{
	margin-bottom: 30px;
}

.item-price{
	display: flex;
	align-items: flex-end;
}

.price-with-tax{
	margin-left: 8px;
	color: red;
	font-weight: bold;
	font-size: 1.4rem;
}

.stock{
	background-color: red;
	color: #f0f8ff;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
	width: 200px;
}

.item-details{
	margin-top: 30px;
}

.description{
	margin: 30px 0 30px 0;
}

.quantity{
	font-size: 1rem;
}

.quantity-area{
	margin-bottom: 30px;
}

.quantity-button{
	width: 180px;
	border: solid;
	border-color: rgb(150, 150, 150);
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#decreaseQuantity,
#quantity,
#increaseQuantity{
	font-size: 1rem;
}

#quantity{
	text-align: center;
}

/*［input type=”number”］の上下矢印非表示*/
#quantity::-webkit-inner-spin-button,
#quantity::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.add-to-cart-btn{
	background-color: rgb(249, 217, 76);
	width: 400px;
	padding: 10px 0;
	border-radius: 10px;
	cursor: pointer;
}

.add-to-cart-btn:hover{
	background-color: rgb(243, 199, 85);
	transform: scale(1.02);
}

@media screen and (max-width:1300px) {
  
	.item-img{
		width: 300px;
	}
}