@charset "UTF-8";

#maincontent{
	margin-bottom: 100px;
	text-align: center;
}

#mainsection{
	display: flex;
	margin: 0 auto;
	padding: 50px 100px 0 100px;
	max-width: 1440px;
}

.section-left {
	flex: 1;
	width: auto;
	min-width: 200px;
	height: 100%;
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.section-left input[type="text"] {
	width: 100%;
	padding: 8px 12px;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 14px;
	background-color: white;
}

.filter-group {
	margin-bottom: 24px;
}

.filter-group h3 {
	font-size: 15px;
	color: #444;
	margin-bottom: 8px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 4px;
}

.filter-group label {
	display: block;
	margin: 5px 0;
	font-size: 14px;
	text-align: left;
	cursor: pointer;
}

.filter-group input[type="checkbox"] {
	margin-right: 3px;
	transform: scale(1.1);
	cursor: pointer;
}

.filter-group input[type="range"] {
	margin-top: 10px;
}

.filter-group select {
	width: 100%;
	padding: 6px 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 14px;
	background-color: white;
	cursor: pointer;
	appearance: auto;
	-webkit-appearance: menulist; /* Safari用 */
	-moz-appearance: menulist; /* Firefox用 */
}

#clearButton {
	width: 100%;
  	padding: 10px;
  	background-color: #ccc;
  	color: #333;
  	font-weight: bold;
  	font-size: 14px;
  	border: none;
  	border-radius: 10px;
  	cursor: pointer;
  	transition: background-color 0.3s ease;
  	margin-top: 10px;
}

#clearButton:hover {
	background-color: #aaa;
}

.section-left button[type="submit"] {
	width: 100%;
  	padding: 10px;
	margin-top: 10px;
  	background-color: #c79549;
  	color: white;
  	font-weight: bold;
  	font-size: 14px;
  	border: none;
  	border-radius: 10px;
  	cursor: pointer;
  	transition: background-color 0.3s ease;
}

.section-left button[type="submit"]:hover {
	background-color:#d3a55c;
}

.section-right{
	flex: 5;
	margin-left:30px ;
}

.sort-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px; 
}

.sort-container label {
	font-size: 14px;
	color: #555;
}

.sort-container select {
	font-size: 14px;
	cursor: pointer;
	appearance: auto;
	-webkit-appearance: menulist; /* Safari用 */
	-moz-appearance: menulist; /* Firefox用 */
	text-align: center;
}

.no-results-message {
	text-align: center;
	margin: 40px 0;
	font-size: 1.2rem;
	color: #666;
}

.grid-container {
 	display: grid;
 	grid-template-columns: repeat(3, 1fr);
 	gap: 10px;
}

.item-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 15px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-card:hover{
	opacity: 1;
	transform: translateY(-4px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.item-card img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.pagination {
	margin-top: 20px;
	text-align: center;
}

.pagination a {
	margin: 0 5px;
	padding: 5px 10px;
	text-decoration: none;
}

.pagination .active {
	font-weight: bold;
}

@media screen and (max-width:1300px) {
  
	.grid-container {
	 	grid-template-columns: repeat(3, 1fr);
	 	gap: 5px;
	}
}
