@charset "UTF-8";

#mainsection{
	font-size: 1.2rem;
}

.success-message {
	color: #2ecc71;
	font-size: 1em;
	font-weight: bold;
}

.form-row {
	display: flex;
	align-items: center;
	margin-top: 15px;
	justify-content: center;
}

.form-row label {
	width: 200px;
	text-align: left;
	font-weight: bold;
	color: #333;
	align-items: center;
}

.form {
	flex: 0.7;
}

input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	transition: border-color 0.3s ease;
}

input:focus {
	border-color: #3498db;
	outline: none;
}

.error {
	display: flex;
	justify-content: space-around;
}

.error-message {
	color: #e74c3c;
	font-size: 0.9em;
	text-align: center;
}

.login-button {
	width: 180px;
	padding: 12px;
	margin-top: 20px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.login-button:hover {
	background-color:#218838;
}

.signup {
	display: inline-block;
	margin-top: 1rem;
	text-align: center;
	width: 100%;
	text-decoration: none;
}

.signup:hover {
	text-decoration: underline;
}
