<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title th:text="${title}">パスワード変更</title>
		<th:block th:replace="~{common/sourceList::sourceList}" />
		<link rel="stylesheet" th:href="@{/css/change-password.css}">
	</head>
<body>
	<div th:replace="~{common/header::header}"></div>
		<main id="maincontent">
			<h1>パスワード変更</h1>
			<section id="mainsection">
				<form th:action="@{/change-password}" method="post" th:object="${changePasswordForm}">
					<div th:if="${successMessage}" class="success-message">
						<p th:text="${successMessage}"></p>
					</div>
					<div class="form-row">
						<label for="password">現在のパスワード</label>
						<div class="form">
							<div class="error-message" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
							<input type="password" th:field="*{currentPassword}" id="currentPassword" />
						</div>
					</div>
					<div class="form-row">
						<label for="password">新しいパスワード</label>
						<div class="form">
							<div class="error-message" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
							<input type="password" th:field="*{newPassword}" id="newPassword" />
						</div>
					</div>
					<div class="form-row">
						<label for="password">新しいパスワード（確認）</label>
						<div class="form">
							<div class="error-message" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
							<input type="password" th:field="*{confirmPassword}" id="confirmPassword" />
						</div>
					</div>
					<button type="submit" class="change-button">変更する</button>
				</form>
				<div class="back-mypage">
					<a th:href="@{/mypage}" class="back">戻る</a>
				</div>
			</section>
		</main>
	<div th:replace="~{common/footer::footer}"></div>
</body>
</html>