<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title th:text="${title}">登録ページ</title>
	<th:block th:replace="~{common/sourceList::sourceList}" />
	<link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
	<div th:replace="~{common/header::header}"></div>
	<main id="maincontent">
		<h1>ユーザー登録</h1>
		<section id="mainsection">
			<form th:action="@{/signup}" method="post" th:object="${signupForm}">
				<div class="form-row">
					<label for="email">メールアドレス<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
						<input type="email" th:field="*{email}" id="email" />
					</div>
				</div>
				<div class="form-row">
					<label for="password">パスワード<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						<input type="password" th:field="*{password}" id="password" />
					</div>
				</div>
				<div class="form-row">
					<label for="lastName">姓<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
						<input type="text" th:field="*{lastName}" id="lastName" />
					</div>
				</div>
				<div class="form-row">
					<label for="firstName">名<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
						<input type="text" th:field="*{firstName}" id="firstName" />
					</div>
				</div>
				<div class="form-row">
					<label for="lastNameKana">姓（かな）</label>
					<div class="form">
						<input type="text" th:field="*{lastNameKana}" id="lastNameKana" />
					</div>
				</div>
				<div class="form-row">
					<label for="firstNameKana">名（かな）</label>
					<div class="form">
						<input type="text" th:field="*{firstNameKana}" id="firstNameKana" />
					</div>
				</div>
				<div class="form-row">
					<label for="postCode">郵便番号<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></div>
						<input type="text" th:field="*{postCode}" id="postCode" onkeyup="AjaxZip3.zip2addr(this, '', 'prefecture', 'city');" />
					</div>
				</div>
				<div class="form-row">
					<label for="prefecture">都道府県<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('prefecture')}" th:errors="*{prefecture}"></div>
						<input type="text" th:field="*{prefecture}" id="prefecture" />
					</div>
				</div>
				<div class="form-row">
					<label for="city">市区町村<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
						<input type="text" th:field="*{city}" id="city" />
					</div>
				</div>
				<div class="form-row">
					<label for="street">番地<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
						<input type="text" th:field="*{street}" id="street" />
					</div>
				</div>
				<div class="form-row">
					<label for="building">建物名</label>
					<div class="form">
						<input type="text" th:field="*{building}" id="building" />
					</div>
				</div>
				<div class="form-row">
					<label for="phoneNumber">電話番号<span class="required">必須</span></label>
					<div class="form">
						<div class="error-message" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
						<input type="text" th:field="*{phoneNumber}" id="phoneNumber" />
					</div>
				</div>
				<div class="form-row">
					<label for="birthday">生年月日</label>
					<div class="form">
						<input type="date" th:field="*{birthday}" id="birthday" />
					</div>
				</div>
			  	<button type="submit" class="signup-button">登録</button>
			</form>
		</section>
	</main>
	<div th:replace="~{common/footer::footer}"></div>
	<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
</body>
</html>