<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}">トップページ</title>
	<link rel="icon" th:href="@{/img/logo.ico}">
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/top.css}">
</head>
<body>
	<div th:replace="~{common/header::header}"></div>
	<main id="maincontent">
		<div class="collection">
			<div class="collection-title">
				<h2 class="title_h2">
					<a th:href="@{/}">NEW!!</a>
				</h2>
				<div class="collection_description">
					<p>新着商品</p>
				</div>
			</div>
			<slider>
				
			</slider>
			<div class="collection_all">
				<a th:href="@{/}" class="button">すべてを見る</a>
			</div>
		</div>
		<div class="collection">
			<div class="collection-title">
				<h2 class="title_h2">
					<a th:href="@{/}">Best Sellers</a>
				</h2>
				<div class="collection_description">
					<p>人気商品</p>
				</div>
			</div>
			<slider>
			
			</slider>
			<div class="collection_all">
				<a th:href="@{/}" class="button">すべてを見る</a>
			</div>
		</div>
	</main>
	<div th:replace="~{common/footer::footer}"></div>
</body>
</html>